<header>
  <%= render 'shared/searchbar' %>
</header>

<div class="reader-container reader-text-container">
<iframe srcdoc='
    <html style="min-height: 80vh;">
      <head>
        <body style="min-height: 80vh; line-height: 24px;">
          <div class="reader-text-container" style="max-width: 80vw; min-height: 80vh; padding: 16px 32px; margin: 0 auto; background-color: #555555; color: #EFEFEF; font-family: Helvetica, Sans-Serif;">
          <% @book.text.each do |line| %>
            <p><%= line %></p>
          <% end %>
          </div>
        </body>
      </head>
    </html>'

    class="reader-text-viewer"
  ></iframe>
</div>

<div class="pdf-view-btn btn">
  <%= link_to book_path(@book) do %>
    <span class="material-icons">auto_stories</span>
  <% end %>
</div>
