<h1><%= @book.title %></h1>

<iframe src=<%= url_for(@book.content) %> width="700" height="780" style="border: none;" class="pdf-viewer"></iframe>

<div class="reader-view-btn btn">
  <%= link_to "Reader View", book_reader_path(@book) %>
</div>

<div class="collections-view-btn btn">
  <%= link_to "Back", books_path %>
</div>
