<header>
  <h1><%= @book.title %></h1>
</header>

<div class="reader-container reader-pdf-container">
  <iframe src=<%= url_for(@book.content) %> class="pdf-viewer"></iframe>
</div>

<% if @book.thumbnail.attached? %>
  <%= image_tag url_for(@book.thumbnail), class: "book-thumbnail" %>
<% end %>

<div class="reader-view-btn btn">
  <%= link_to book_reader_path(@book) do %>
  <span class="material-icons">library_books</span>
  <% end %>
</div>
