/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #464646;
}

header, footer {
  height: 10vh;
  background-color: rgb(147, 149, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

a, a:visited, .btn {
  color: rgb(245, 223, 77);
  text-decoration: none;
  cursor: pointer;
}

a:hover, .btn:hover {
  color: rgb(230, 206, 47);
  text-decoration: none;
  cursor: pointer;
}
